{% extends 'core/base.html' %} {% block title %}Acerca de{% endblock %} 
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}
{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Integrantes</span>
{% endblock %} 

{% block content %}
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img
      class="img-fluid avatar"
      src="{% static 'core/img/avatar.jpg' %}"
      alt=""
    />
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Javier Duarte</h2>
    <small class="text-muted">
      Software Developer in Python
    </small>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum
      ullam eveniet pariatur voluptates odit...
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img
      class="img-fluid avatar"
      src="{% static 'core/img/bezos.jpg' %}"
      alt=""
    />
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Integrante 2</h2>
     <small class="text-muted">
      Software Developer in Python
    </small>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum
      ullam eveniet pariatur voluptates odit...
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img
      class="img-fluid avatar"
      src="{% static 'core/img/haff.jpg' %}"
      alt=""
    />
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Integrante 3</h2>
     <small class="text-muted">
      Software Developer in Python
    </small>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum
      ullam eveniet pariatur voluptates odit...
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img
      class="img-fluid avatar"
      src="{% static 'core/img/uber_ceo_2.jpg' %}"
      alt=""
    />
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Integrante 4</h2>
     <small class="text-muted">
      Software Developer in Python
    </small>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum
      ullam eveniet pariatur voluptates odit...
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img
      class="img-fluid avatar"
      src="{% static 'core/img/tatiana.jpg' %}"
      alt=""
    />
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Integrante 5</h2>
     <small class="text-muted">
      Software Developer in Python
    </small>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum
      ullam eveniet pariatur voluptates odit...
    </p>
  </div>
</div>
{% endblock %}
